[2015-05-05 08:23] andreypopp opened #2 "Make it work without requiring Symbol polyfill"
The best would be to have babel to transpile Symbol itself.

[2015-05-06 19:37] playpauseandstop opened #3 "Rationalle for autobind decorator comparing to = () => syntax sugar"
In time of introducing React 0.13 Facebook devs ran into same problem and proposed to autobind method syntactically as:

[code]

This syntax already work when using Babel with stage=0 setting, so I want to understand what problems solved ``@autobind`` decorator and is it ok, when one goal reached by two completely different ways?

More about autobinding [from React v0.13.0 Beta 1 blog post](http:/

[2015-05-06 21:11] andreypopp commented on #3
So
[code]
vs.
[code]
Don't have the answer so just some observations.

Both are explicit about the intentions.

Instance property version props:
* Doesn't require using 3rd party code

Instance property version cons:
* Looks too cryptic
* It doesn't really clear from syntax what `this` does point to inside the function.

Decorator version pros:
* Looks like a method (but decorated)

Decorator vers

[2015-05-06 22:32] gaearon commented on #2
Same for `Reflect`

[2015-05-06 22:33] chicoxyzzy commented on #2
so babel will add local polyfill but target browsers could be Symbol-ready. so we loose in performance and module size in that case

[2015-05-06 22:36] sebmck commented on #2
Why use the symbol at all? Just change:

[code]

to

[code]

The current way is slower too since the overhead of the getter is going to be there every single time.

[2015-05-06 22:54] okcoker opened #5 "Make it work without requiring Reflect polyfill"
Trying to autobind a whole class throws an error for me that complains about [`Reflect`](https://github.com/andreypopp/autobind-decorator/blob/4544e93e7f51bbe5174e5f1539c6c26896f119be/src/index.js#L28) being undefined.

Just documenting this issue as mentioned [here](https://twitter.com/dan_abramov/status/596082035585855489).

[2015-05-07 05:12] andreypopp commented on #2
@sebmck you are right, that's actually how it was implemented initially https://github.com/andreypopp/autobind-decorator/commit/fb29744229f06bec8575e089f7c5fe28a407c6e5#diff-1fdf421c05c1140f6d71444ea2b27638

[2015-05-07 05:12] #2 closed

[2015-05-07 11:37] dominataa commented on #3
One advantage of the decorator and bound method would be that when debugging you should get a named function vs an anonymous function. I guess that would just be down to personal preference of the developer or what syntax they prefer. The react solution is certainly simple.

[2015-05-10 12:05] playpauseandstop commented on #3
Thanks for clarification, this should be closed now, after fixing https://github.com/babel/babel-eslint/issues/71 I prefer to stay on ``() => {}`` syntax, but would know that there is ``@autobind`` alternative.

[2015-05-10 12:05] #3 closed

[2015-08-18 18:45] andreypopp commented on #5
See https://github.com/andreypopp/autobind-decorator/pull/6#issuecomment-131946020

[2015-08-18 18:45] #5 closed

[2015-08-23 01:15] gaearon commented on #3
One pro is we'll be able to support hot reloading decorated version in React Hot Loader 2 (you can try `react-hot-loader@2.0.0-alpha`). We'll eventually get to supporting property syntax too, but probably outside React Hot Loader, with a Babel plugin, and not very soon. :-)

[2015-08-23 19:09] joshschumacher opened #12 "1.3.1 build appears to be broken"
I can't find anything in the source code that would be generating the code that is breaking the current package build so maybe the code was manually modified before it was pushed to npm?

When you `npm install autobind-decorator`, line 39 of `node_modules/autobind-decorator/lib/index.js` contains this line: `console.log(Object.getOwnPropertyNames(), Object.getOwnProperySymbols());` which blows up

[2015-08-23 19:15] andreypopp commented on #12
Indeed, fixed in 1.3.2. Thanks for reporting.

[2015-08-23 19:15] #12 closed

[2015-08-23 19:35] domarmstrong commented on #12
Big appology for that. Would running the tests against lib instead of src be an idea, just compile pre test?

[2015-08-23 20:01] andreypopp commented on #12
@domarmstrong good idea! I left `test` to run tests against sources as it simplifies development but added `build-test` which runs before `release-*` and is against built sources.

[2015-08-23 21:57] joshschumacher commented on #12
Thanks!

[2015-11-12 16:12] Grmiade opened #13 "Does not work with Babel 6.0"
I have not managed to run `autobind` decorator with babelify 7.2.0 and babel 6.0.15, the lasts versions.
I don't have errors but i think that `autobind` is not made, I have to make it for the hand.

My configuration in gulp:

[code]

My bad ?

[2015-11-24 06:34] ebello commented on #13
It looks like this is a [known issue](https://phabricator.babeljs.io/T2645) with Babel 6.0. Decorator support has been removed as the spec is changing rapidly.

[2016-01-05 11:02] kuraga opened #17 "About maintaining"
@andreypopp , could update dependencies and see issues and PRs, please? Thanks...

[2016-01-05 11:26] kuraga commented on #17
Use https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy, maybe?

[2016-01-10 12:57] DanielMSchmidt commented on #13
Hi there,

you may use the [transform-decorators-legacy](https://github.com/loganfsmyth/babel-plugin-transform-decorators-legacy) plugin, this works fine with Babel 6.0.

[2016-01-11 12:02] andreypopp commented on #17
Done.

[2016-01-11 12:02] #17 closed

[2016-01-11 12:08] kuraga commented on #17
Thanks!

[2016-01-13 10:37] emirotin commented on #13
Doesn't work with react-hot-loader though.

It only defines getter while hot-loader tries to patch the property.
[code]

[2016-01-13 18:27] andreypopp commented on #13
@emirotin try react-transform-hmr or react-hot-loader v2 (I think alpha is published on npm). v1 doesn't support getters.

[2016-01-13 19:24] emirotin commented on #13
Thanks for the tip! I'm new to React ecosystem which is huge :)

[2016-01-28 16:03] Johnius opened #20 "[PROPOSAL] Ability to unbind some method"
Would be nice to have an ability to unbind some special functions from instance. Make it static.

[2016-02-01 15:38] iano123 opened #21 "Does not work on windows"
Hi,

It seems that this does not work on a windows box. it fails on mkdir -p. When I run it from git bash then I have the same error. It does also create a filder called -p on build.

Jan

[2016-02-10 20:11] stsvilik opened #23 "Assigning key to a function using Object.defineProperty fails in IE11"
Line 87 in index.js causes stack overflow in IE11, my take is that placing Object.defineProperty inside a get method causes it to be re-triggered by Object.defineProperty. Easy fix is not to use Object.defineProperty and instead use old fashioned key assignment a.k.a
[code]
It looks like you're making it writable and configurable, so Object.defineProperty might be an overkill for this.

[2016-02-10 20:14] stsvilik commented on #23
Looks like what I suggested only fixes IE, but breaks Chrome. Well something for you to figure out :)

[2016-02-24 03:07] ArmendGashi commented on #21
can you show more details, error logs

[2016-02-26 16:30] elijahdorman opened #24 "Missing License"
The package.json file says MIT license, but no licence is included. The actual source says the copyright is personal without granting any rights to other users. It would be great if this could be straightened out.

[code]

[2016-02-26 16:52] andreypopp commented on #24
Isn't including actual license test optional? I'd accept a pull request with license text if needed.

[2016-02-26 17:27] elijahdorman commented on #24
I'm not a lawyer, but some clients I deal with have a very strong feeling on the subject (they don't want any possible risk). I can fork and make a PR if you'd like or the license can just be put in a LICENSE.txt file (or whatever).

https://opensource.org/licenses/MIT

[2016-03-13 00:31] cpsubrian commented on #20
@Johnius Thinking my PR #27 solves this for you.

[2016-03-18 23:37] jhabdas commented on #13
No issues [using this with Babel 6](http://technologyadvice.github.io/es7-decorators-babel6/). Thank you so much for creating this stop gap library! This issue can be closed, or a new one opened if HMR continues to be an issue for some.

[2016-03-19 09:55] seeden commented on #3
Hi guys,
when you are using () => {} you are not able to override this method in extended class. This is the huge disadvantage.

@autobind is great but sometimes is better to use ES7 :: instead of bind

[2016-03-22 17:19] dineshi2it opened #28 "How to pass params?"
Before:
`<button onClick={ this.handleClick.bind(this, key) }></button>
`
After:
`<button onClick={ this.handleClick(key) }></button>` //Not working

[2016-03-25 04:49] Johnius commented on #20
@cpsubrian It looks working but I think you'll face problems when your class will get grow. I think still would be sweet to have @unbind and use it on specific methods. Maybe you have some thoughts about why it might be good or bad—about your and my idea.

[2016-03-25 21:48] cpsubrian commented on #20
@Johnius I can't speak to your use case, but I'm always in one of three situations:

1. You want most of your methods autobound, and few not bound.
    - The ones you don't want bound usually follow a semantic pattern (i.e. 'render', 'component*')
2. You want to routinely bind only methods that follow a semantic pattern (i.e. 'handle*', 'on*')
3. You only want to bind a few specific methods
    -

[2016-04-03 08:09] awesomeaniruddh commented on #28
I believe you are using React?
If so, then this is how you're supposed to use the decorator:

[code]

[2016-04-03 08:16] Spivaka commented on #28
@awesomeaniruddh - This actually calls the function with the parameter (key), every time the page is loaded and doesn't bind the button to the function.
It is possible to store the parameter on the state and reload it in the autobinded method - still not very convenient.

[2016-04-03 08:20] awesomeaniruddh commented on #28
@Spivaka
I didn't realise that.

Thinking about it now, I don't think there *is* a situation where you'd need to pass arguments to a click handler.

[2016-04-03 08:25] Spivaka commented on #28
@awesomeaniruddh - There are some example for it (let's say you want to pass additional data when this button is clicked - you have 3 checkbox that are binded to the same method and you wish to know which one called the method).
It it true, however, that when using react it's best to store state data on the state and not directly through the rendered object.

[2016-04-03 08:29] awesomeaniruddh commented on #28
@Spivaka That's a pretty valid concern. I did a quick Google search and this is what came up:

[code]
2nd answer: https://stackoverflow.com/questions/29810914/react-js-onclick-cant-pass-value-to-method

That should work!

[2016-04-03 08:34] Spivaka commented on #28
@awesomeaniruddh - It will work fine, but also .bind(...). This will miss the entire point of autobinding as it will create a new method in each rendering, making the GC work harder...

[2016-05-27 13:17] anthonator commented on #13
@jhabdas do you mind sharing how you got it to work?

[2016-06-03 15:11] #28 closed

[2016-06-03 16:58] Nitzperetz commented on #28
@andreypopp , why was this issue closed? will there be no way to use autobind decorator with parameters (without the use of .bind(...))?

[2016-06-03 17:22] andreypopp commented on #28
@Nitzperetz I can't see how we can implement it without the use of `.bind()`.

[2016-06-27 10:20] kasperlewau opened #30 "Usage outside classes"
Sometimes I'll find myself wiring up a singleton for use throughout my application. Said singleton is really just an object with a set of exposed methods.

Some of these methods modify the exposed singleton through `Object.assign`. Now, I don't want to pollute my codebase with references to `this`, as such `autobind` comes to mind as I use it throughout my classes.

[code]

Now, the exposed method

[2016-07-06 02:40] jfeldstein opened #31 "Parsing error: Unexpected character '@'"
Hi, I'm using webpack, babel-loader and the following webpack.config.js

[code]

I have no `.babelrc`.

However, when I run webpack, it complains about the `@` syntax.

Reproducable with the following file:

[code]

Package.json includes:

[code]

I thought `stage-0` was supposed to give me the ability to write:

[code]

But I can't do that, either. Wondering if it just isn't something in my confi

[2016-07-18 20:32] lehcosta commented on #31
Hello, run `npm install babel-eslint --save-dev` and add this setting to your package.json

` "standard": {
    "parser": "babel-eslint"
  },`

reference: http://standardjs.com/#can-i-use-a-custom-js-parser-for-bleeding-edge-es6-or-es7-support

[2016-07-25 21:17] Nitzperetz commented on #28
See bonus section of this article:
https://daveceddia.com/avoid-bind-when-passing-props/
There you could find a partial solution for passing parameters.

[2016-07-26 21:01] AndrewRayCode opened #32 ""Cannot set property" error on React class component method"
I'm guessing I'm missing something but not sure what.

My `.babelrc`:

[code]

My webpack loader config:

[code]

My `.eslintrc` (I have no idea if both of these are needed):

[code]

In my React component, I use the autobind decorator:

[code]

But I get the runtime error:

[2016-07-27 16:04] InfernoZeus commented on #32
Just started getting this issue as well - no idea what's triggered the change. The only thing I did was extract a class into its own file, but I don't think that caused it.

[2016-07-27 18:25] DelvarWorld commented on #32
@InfernoZeus what version of React are you using? Wondering if component classes changed something internally recently. Or maybe how Babel handles classes?

For me:
React 15.2.1
babel-core 6.11.4

[2016-07-28 09:11] InfernoZeus commented on #32
I'm using the same version of React, and a slightly earlier version of babel-core: 6.10.4

[2016-08-13 12:06] VinceFanZ commented on #32
I've had the same problem.

[2016-08-13 13:18] VinceFanZ commented on #32
user import { autobind } from 'core-decorators'

[2016-08-17 20:19] smashercosmo commented on #32
https://github.com/gaearon/react-transform-catch-errors/issues/26 probably related

[2016-08-19 00:16] alexilyaev commented on #32
@VinceFanZ Did not work for me with `core-decorators`

[2016-08-19 05:39] awesomeaniruddh commented on #24
If you wanna include a common license like MIT or Apache, you can click 'Create new file' on the code tab and type in LICENSE as the file name. Github will then show you an option to auto-fill the file contents with a license.

[2016-08-30 17:47] myknbani commented on #32
I'm not experiencing this bug.

autobind-decorator: 1.3.3
react: 15.3.1

but I use Browserify, I can't imagine how a bundler could break things though.

[2016-09-05 01:26] Jinnified commented on #32
@smashercosmo if my dependency's dependency has react-transform-catch-errors and i have transform-decorators-legacy, could this still causing issues?

[2016-09-16 16:08] anuragalla opened #33 "@autobind decorator is not working in react-native 0.32"
It gives the following error
![screen shot 2016-09-16 at 9 17 31 pm](https://cloud.githubusercontent.com/assets/9738350/18592716/d48e1df2-7c55-11e6-96b7-df86f9f26123.png)

[2016-09-20 11:22] andreypopp opened #35 "Maintainers needed"
As I no longer use this library it needs new maintainers.

[2016-09-20 11:23] stevemao commented on #35
Hi @andreypopp I'm really keen to maintain this. My company Atlassian is using this so I have good support.

[2016-09-20 11:35] stevemao commented on #35
cc @bradleyayers

[2016-09-20 11:36] andreypopp commented on #35
Nice, let's wait some time (a day) so others can respond too. Also cc @domarmstrong as he already has commit access to the repo.

[2016-09-20 11:45] bradleyayers commented on #35
@andreypopp I'm interested why you no longer use this. Do you have a different pattern that you use now?

[2016-09-20 11:46] andreypopp commented on #35
@bradleyayers completely switched to use class instance properties:
[code]

[2016-09-20 12:34] stevemao commented on #35
typescript doesn't seem to support this yet.

[2016-09-21 17:30] andreypopp commented on #35
@stevemao what's you npm username so I could add you there?

[2016-09-21 19:32] domarmstrong commented on #35
Sounds good @stevemao! Sadly I don't use either for quite a while now as I moved in other directions now.

[2016-09-22 00:48] stevemao commented on #35
Hi @andreypopp can you add @bradleyayers as well? Also would you mind adding me to npm? Thanks guys.

[2016-09-22 00:48] #23 closed

[2016-09-22 00:54] stevemao commented on #35
If not, can you do a release now?

[2016-09-22 00:54] stevemao commented on #35
Sorry, It's [stevemao](https://www.npmjs.com/~stevemao)

[2016-09-22 09:00] andreypopp commented on #35
Done

[2016-09-22 23:42] stevemao commented on #20
see #27

[2016-09-22 23:42] #20 closed

[2016-10-07 13:41] alexilyaev commented on #32
This might be related:
https://github.com/jayphelps/core-decorators.js/issues/48#issuecomment-200592851

[2016-10-16 19:29] fab1an opened #36 "@autobind race-condition"
Hi, I have a complex react-native app, where I get a race-condition sometimes when having multiple `setState` firing. In the error-case `this` appears not to be set, when the method is called.

I'm sorry to not be able to provide a test-case, but the issue disappears when I replace the @autobind method with an es7 class property.

What I'd like to know is how this is possible. Is it possible that

[2016-10-16 22:34] stevemao commented on #36
I think the point of this module is to change the context so that you don't have to worry about it.

@fab1an do you have to use this module? Can you use compose to achieve what you want?

[2016-10-17 06:15] fab1an commented on #36
@stevemao I replaced the usage of autobind with `myFun= () => {}` class-properties, which seems to work.

I'd just like to know how such a race-condition is possible, since I like to understand my code ;).

[2016-10-17 09:24] pelotom opened #37 "Default export gets overwritten in generated code (breaks usage with TypeScript)"
In the current build of the library, at the top of the file we have

[code]

but then at the end we have

[code]

The latter wipes out the former, eliminating the default export. It probably usually goes unnoticed because with Babel, a default import falls back to importing the entire module, so

[code]

becomes the same as

[code]

Unfortunately TypeScript is less forgiving, requiring you to get

[2016-10-17 11:06] stevemao commented on #36
Do you have any sample code?

[2016-10-17 11:09] #37 closed

[2016-10-17 11:16] stevemao commented on #37
@bradleyayers how does our build work with babel 5 modules? Do we need to do anything once this uses babel6?

[2016-10-17 12:14] fab1an commented on #36
@stevemao I have a hard time myself reproducing the error with my production code, because it only happens if certain events happen to fast after another.

The code consists of many nested components, async actions, which partly communicate over the react-native JS/Java Bridge and so on, so I'm afraid I can't show any code.

I don't know how this plugin works, but is it possible that _while_ `this

[2016-10-18 02:41] bradleyayers commented on #37
In our project TypeScript targets ES6, and webpack does the ES6→ES5 conversion and takes responsibility for the fuzzy default imports. Nothing will change for us.

[2016-11-19 07:08] jamby opened #40 "Autobind doesn't bind functions to class prototype"
So while writing tests, I have a component:

[code]

And then inside the my tests for Enzyme, using Karma/Jasmine:

[code]

However, this doesn't work because autobind doesn't actually put them inside the prototype of the class. Was wondering if there was a possibility for it to be bound to the prototype when done this way or just to each function in particular.

[2016-11-21 04:48] stevemao commented on #40
What's the use case of putting them on the `prototype`?

[2016-11-21 04:58] jamby commented on #40
In my case, I'm trying to spy on the component's function via the prototype before the component is rendered (for testing), so I can make sure it's called. Not sure if there is any other use case, but that'st he one I've ran into.

[2016-11-21 09:36] stevemao commented on #40
I think the point of the decorator is to not overwrite the original `prototype` methods. But when you use them, it uses the own methods on the object. There are also performance reasons.
In your use case, I think it's very easy to create an instance and spy on it.
As stated in the README, Class instance properties is probably the better pattern in many cases.

[2016-11-29 16:05] aymericbouzy opened #41 "`this.props` evaluates to `undefined` when using @autobind"
I have a weird behaviour with about 300 Components rendered in a ListView where for some of them, I get an error because for some reason `this.props` is undefined in an auto binded method. If I use the usual syntax to bind my method in the constructor, the error goes away. I do not get the error in every Component, only some of them, in particular those at the end of the listView. All components a

[2016-12-04 10:25] abdennour commented on #40
@stevemao  :  We use `prototype` to mock methods in unit-tests :

[code]

[2016-12-04 20:07] abdennour commented on #40
@jamby : i had the same issue , and [@babel-autobind]() can solve your issue by two ways:

## 1. Either, you keep **@autobind** decorator , and bind again on unit-tests using **babel-autobind** :

[code]

[code]

## 2. Or migrate totally to  **babel-autobind** :

[code]

and no need to change anything in unit-tests if you migrate.

[2016-12-05 21:54] wesleysmyth commented on #40
@abdennour - thanks for creating this package! I just tried it out in my jasmine tests and found that wrapping the component with `Autobind` still didn't solve the issue of spying on a classes' prototype method. But of course it's still super new, so maybe I can help look into the problem.

[2016-12-08 14:36] abdennour commented on #40
@wesleysmyth  : thank u for your feedback .. yes, it is not tested with Jasmine stubbing ,however it works like a charm with **Sinon.JS stubs/spies** .

[2016-12-08 14:54] abdennour commented on #40
@wesleysmyth : please try to keep `@autobind`(this package) above the class , then wrap it again `Autobind`  in your unit-tests... It does not depend on this package , however it can be used together.

[2016-12-08 15:43] abdennour commented on #40
@wesleysmyth :
 - First of all, please, try the last version. I mean **babel-autobind@0.3.21** release.
____________________

Then, if it still does not work ,, please , try the following:
- try to keep `@autobind`(this package) above the class , then wrap it again with `Autobind`  after importing it  in your unit-tests ... It does not depend on this package , however it can be used together. Ther

[2016-12-08 17:20] wesleysmyth commented on #40
Awesome, @abdennour - will give it a shot

[2016-12-13 17:43] iamricky commented on #32
I'm still receiving the `Uncaught TypeError: Cannot set property render of #<ComponentName> which has only a getter` when binding to the class, e.g.

[code]

Has this issue been addressed? Please advise.

source:
[https://github.com/gaearon/react-transform-catch-errors/issues/26#issuecomment-197078851](Doesn't work when used together with babel-plugin-transform-decorators-legacy)

[2016-12-13 21:08] AndrewRayCode commented on #32
I think this project is abandonware that will only work with older versions of something (babel? react?)

[2016-12-26 01:50] wkh237 commented on #41
Have the same problem, in my case,  it also happens even not using `autobind`, as a workaround manually bind context in constructor and  it solves the issue.

[code]

It'd be great to know why this is going to happen, thanks !

[2017-01-12 15:18] robclouth commented on #41
I'm getting the same on RN 0.40, only on Android. In a ListView, but also with NavigatorExperimental. It seems that the Components are getting torn down and recreated but the autobind wrapper isn't.

[2017-01-17 14:05] ThaJay commented on #31
what the hell, this is so random

but it works. Thank you so much @lehcosta

[2017-01-18 07:07] #31 closed

[2017-01-22 21:09] rfgamaral opened #43 "I'm not able to use this autobind decorator this with TypeScript"
Just looked at #37 too, but neither this:

[code]

Nor this:

[code]

Works for me... The first complains about a missing default export, the second gives me this:

Am I doing something wrong?

[2017-01-24 22:37] stevemao commented on #41
@aymericbouzy Can you create a minimal replication of the problem?

[2017-01-24 22:38] stevemao commented on #32
See https://github.com/andreypopp/autobind-decorator/pull/29

[2017-01-24 22:55] aymericbouzy commented on #41
Well ... I'll give it a try, but I don't even recall which exact component it was ... Our code changes all the time ... Let's hope I find the bug again!

[2017-01-25 13:47] aymericbouzy commented on #41
I can't reproduce anymore. Maybe migrating to a higher version of RN solved it. You can close for now, and I'll keep you posted if it happens again. Thanks anyway !

[2017-01-25 13:47] #41 closed

[2017-02-02 05:02] thearabbit opened #44 "[React JS] Method has decorators, put the decorator plugin before the classes one"
I tried to use this in `React js`
[code]
It show error
[code]
Please help me.

[code]

[2017-02-07 22:16] stevemao commented on #44
See https://github.com/babel/babel/issues/2648
Questions should be asked on stackoverflow :)

[2017-02-07 22:16] #44 closed

[2017-02-26 13:12] farzer commented on #32
met the same problem, anything else solution?

[2017-02-26 13:23] smashercosmo commented on #32
I fixed it long time ago in react-transform-catch-errors https://github.com/gaearon/react-transform-catch-errors/commit/afbbda89959e886e636d00427f20b6efc80bf441 It just wasn't published. Installing directly from master should work for everyone who faced this issue.

[2017-04-09 08:15] slikts commented on #43
You're not doing anything wrong; the 1.3.4 version published in npm does not include the type definitions. The pull request adding types (#39) was accepted but not published for some reason.

[2017-04-09 08:28] stevemao commented on #43
published as 1.4.0. Please try again :)

[2017-04-09 08:28] #43 closed

[2017-04-10 07:05] kesha-antonov commented on #24
@andreypopp Hello! Any update on this?

What @awesomeaniruddh suggested is good solution 👍

[2017-04-10 07:06] andreypopp commented on #24
@kesha-antonov

[2017-04-10 07:09] kesha-antonov commented on #24
@andreypopp Yeah, sure! Missed that.

https://github.com/andreypopp/autobind-decorator/pull/45

[2017-04-10 07:16] #24 closed

[2017-04-23 22:34] mockdeep commented on #35
@andreypopp out of curiosity, how are you handling binding now?

[2017-04-23 23:46] bradleyayers commented on #35
I just use the standard ES7 property assignment:

    foo = () => { ... }

[2017-04-28 10:26] baba43 commented on #35
@bradleyayers I found this to cause problems while hot reloading since methods created this way will not be hot loaded.

[2017-05-07 16:32] noru opened #47 "Break sinon.spy(Component.prototype, 'method')"
When using '@autobind' on a component, then in tests `sinon.spy(Component.prototype, 'someMethod')` will yield an error:

[code]

Sorry, currently I can't provide more detail, but I'm sure `@autobind` is the only variable between success/error in tests.

[2017-05-10 13:31] damianobarbati opened #48 "Async support"
Is async supported?

[code]

[2017-05-10 13:57] damianobarbati commented on #48
Yes it is. Sorry for the useless issue.

[2017-05-10 13:57] #48 closed

[2017-05-10 14:04] jjmasse opened #49 "Thoughts around using ES7 property initializers instead?"
Good morning, and thank you for this decorator - the binding of methods on components has been messy and this does a nice job in helping us clean it up.

Some of my teammates had shared this and I have been encouraging them to use ES7 Property Initializers and arrow functions instead of a decorator like this.  We write a lot of React code, it has made sense to drop the dependencies and using the l

[2017-05-11 23:01] damianobarbati commented on #47
+1 same problem with jest

[2017-05-12 00:54] stevemao commented on #49
I have already added Class instance properties in [alternative](https://github.com/andreypopp/autobind-decorator#alternative) section. Is there anything else you want to add?

[2017-05-12 11:33] stevemao commented on #33
@anuragalla is it still happening with the latest versions?

[2017-05-12 12:30] anuragalla commented on #33
Not anymore this should help you.

[code]
.babelrc
[code]

[2017-05-13 01:25] jjmasse commented on #49
That is great! Thank you for considering the addition.

[2017-05-13 01:25] #49 closed

[2017-05-13 05:42] stevemao commented on #33
Closing since this is not a problem with this module.

[2017-05-13 05:42] #33 closed

[2017-05-17 04:12] richardszalay commented on #36
FWIW, I've replicated this in a RN app. If I can create a small reproducable code snippet, I'll post something.

[2017-05-18 01:54] rohmanhm opened #50 "autobind doesn't work with typescript"
[code]

That code will throws an error in the browser console.
This is the error message.

    at App.handleReset (http://localhost:3000/static/js/bundle.js:33337:14)
    at Object.ReactErrorUtils.invokeGuardedCallback (http://localhost:3000/static/js/bundle.js:17522:17)
    at executeDispatch (http://localhost:3000/static/js/bundle.js:17305:22)
    at Object.executeDispatchesInOrder (http://local

[2017-05-18 01:59] rohmanhm commented on #50
You missing to publish this https://github.com/andreypopp/autobind-decorator/commit/a716cbdf238166925d4dcf26a1bb3f9fd269bbfb

[2017-05-18 02:33] stevemao commented on #50
published `v1.4.1`

[2017-05-18 02:33] #50 closed

[2017-05-18 16:08] dennisfleischmann opened #51 "1.4.1? export = autobind breaks our builds"
Please have a look as fast as possible. We have downgraded to 1.4.0

============================================
Showing  1 changed file  with 1 addition and 1 deletion.
View
2  index.d.ts
@@ -1,4 +1,4 @@
  declare module 'autobind-decorator' {
    const autobind: ClassDecorator & MethodDecorator;
 -  export default autobind;
 +  export = autobind;
  }
============================================

[2017-05-18 23:19] stevemao commented on #51
I don't use typescript. PR welcome

[2017-05-27 10:22] rfgamaral commented on #43
@stevemao Sorry for the delay but I can confirm this now works at method level, not class level as mentioned on #86.

[2017-05-27 12:35] stevemao commented on #43
@rfgamaral PR welcome to fix this

[2017-05-27 15:46] rfgamaral commented on #43
I was just reporting my findings, I actually prefer to use this per method.

[2017-05-31 02:21] magicdawn opened #52 "autobind make react-hot fails"
error stack

[code]

[2017-05-31 02:22] magicdawn commented on #52
guess the hot module need to patch the component

[2017-05-31 02:40] magicdawn commented on #52
related
https://github.com/andreypopp/autobind-decorator/issues/2#issuecomment-99631250
https://github.com/gaearon/react-hot-loader/issues/125

[2017-05-31 03:14] magicdawn commented on #52
After migrate to react-hot-loader@3. Things fixed.

[2017-05-31 03:14] #52 closed

[2017-06-12 08:01] ArtemZag commented on #51
@stevemao, but you have index.d.ts file.

[2017-06-12 23:33] stevemao commented on #51
@ArtemZag PR welcome

[2017-06-23 10:17] #51 closed

[2017-06-25 15:45] longlho opened #55 "dist file `module.exports` overrides `exports['default']`"
Hi there, it seems like the dist file exports both `module.exports` & `exports['default']` and the former is overwriting the later. I try building this locally and don't see that problem. Maybe bc of dependencies are out of date while building before publishing?

My local build
[code]

1.4.3:
[code]

[2017-06-26 03:09] stevemao commented on #55
Did you try 1.4.3?

[2017-06-26 03:59] longlho commented on #55
Yeah I copied its content up there. Unfortunately still not working :(

[2017-06-26 04:36] stevemao commented on #55
PR welcome

[2017-06-26 14:43] longlho commented on #55
I think for this one there's nothing to PR 😢  The person doing the publishing would have to `make clean` and `npm run build` and make sure the `lib/index.js` has the correct `export`. I don't have publishing right to this repo so I cannot do it.

[2017-06-27 01:15] stevemao commented on #55
I have fixed `make release` scripts and published a new release. could you try again?

[2017-06-27 08:45] gautier-lefebvre opened #56 "Uncaught TypeError: decorator is not a function"
With the latest release 1.4.4, we get an error when using the autobind on a method, and building with webpack and `babel-plugin-transform-decorators-legacy`:

[code]

inside _applyDecoratedDescriptor (from webpack plugin) ->

[code]

[2017-06-27 14:53] longlho commented on #56
I believe babel 6 (and 7) no longer retrofit `module.exports`, so if ur using autobind via `require` u'd have to do `require('autobind-decorator').default`

[2017-06-27 14:53] longlho commented on #55
thanks issue's fixed :)

[2017-06-27 14:53] #55 closed

[2017-06-27 15:59] gautier-lefebvre commented on #56
Yeah you're probably right, but that's a breaking change, since previous versions were working fine with babel 6. That would be great if you released these changes as a new major version.

[2017-06-27 15:59] longlho commented on #56
@stevemao ^^

[2017-06-28 00:16] stevemao commented on #56
unpublished `1.4.4` and published `2.0.0`.

[2017-06-28 00:16] #56 closed

[2017-07-01 04:16] stevemao commented on #47
98968ee might fixed this. Please try the latest master branch

[2017-07-01 04:18] stevemao commented on #32
98968ee should have fixed this. Please try the latest master branch :)

[2017-07-01 04:18] #32 closed

[2017-07-01 04:19] stevemao commented on #13
98968ee should have fixed this. Please try the latest master branch :)

[2017-07-01 04:19] #13 closed

[2017-07-01 04:20] stevemao commented on #21
More details needed

[2017-07-01 04:20] #21 closed

[2017-07-01 04:24] jhabdas commented on #13
Cheers to you good friend. Cheers to you.

[2017-07-01 04:25] stevemao commented on #30
Decorators don't modify the original function or class. Please checkout the spec. You could use `autobind` as a higher order function/class in your case.

[2017-07-01 04:25] #30 closed

[2017-07-01 04:50] stevemao commented on #36
Could you see my comment https://github.com/andreypopp/autobind-decorator/pull/57#issuecomment-312410441?

[2017-07-01 05:19] stevemao commented on #40
I think the point of the module is not to mutate the `prototype`. class instance property or https://github.com/andreypopp/autobind-decorator/issues/40#issuecomment-264727287 might be better alternatives.

[2017-07-01 05:19] #40 closed

[2017-07-01 11:04] alexilyaev commented on #32
With react-hot-loader 3 this worked with version v1.4.1 as well.
Tested now with v2.1.0, still works.

[2017-07-02 08:50] abdennour commented on #40
You are Welcome @wesleysmyth

[2017-07-18 12:24] lprhodes commented on #41
Seeing this too when using autobind on cells in a react native flat list (Android only)

[2017-07-18 12:33] stevemao commented on #41
Maybe related to https://github.com/andreypopp/autobind-decorator/pull/57

[2017-07-18 12:51] lprhodes commented on #41
Perfect thanks @stevemao!

[2017-07-27 18:50] viridia opened #59 "No longer works with TypeScript 2.4"
TypeScript recently changed how decorators work (it's actually simpler), but autobind-decorator no longer works.

Here's an implementation that works under 2.4 (written in TypeScript):

[code]

[2017-08-06 18:25] viridia commented on #59
BTW I've switched over to using bind-decorator for my TypeScript projects, which has similar functionality but supports more recent versions of TypeScript. I still use autobind-decorator for my JS projects.

[2017-08-07 00:32] stevemao commented on #59
@viridia PR welcome

[2017-12-03 15:37] freereikicourse opened #61 "Why not just using `myMethod = () => {return this.a;}`?"

[2017-12-03 23:16] stevemao commented on #61
Its already mentioned in readme https://github.com/andreypopp/autobind-decorator#alternative

[2017-12-03 23:16] #61 closed

[2017-12-03 23:18] freereikicourse commented on #61
`() => {}` is also "only bound once"

[2017-12-03 23:22] stevemao commented on #61
It links to the spec so if you need to know more details just read through it.

[2017-12-18 23:33] stevemao commented on #47
Please comment if doesn't work for you

[2017-12-29 08:09] Val0429 commented on #36
For me it also happened on my complex project, and only with Android Project + Remote JS Debugging Off. On both emulator & real devices.  With likely 20% occurrence rate.

[2017-12-30 07:07] #36 closed

[2018-02-01 15:08] nurbek-ab commented on #35
@baba43 Also class property methods cause problems with testing. For example you cannot use `jest.spyOn` on a class property method because it's not in the prototype.

[2018-02-01 22:21] stevemao commented on #35
@nurbek-ab there's already tickets. Please search the issue tracker and find the solutions

[2018-02-01 22:21] #35 closed

[2018-02-15 19:27] job13er commented on #47
Just in case anyone else happens upon this, I'm fairly certain `autobind-decorator` is incompatible with `sinon` (at least with `.stub()`. It appears `sinon` uses `descriptor.value` to check if something is a method or not: https://github.com/sinonjs/sinon/blob/v4.3.0/lib/sinon/stub.js#L30-L34.

As a result, the `descriptor.get()` that `autobind-decorator` creates here:
https://github.com/andreypo

[2018-02-15 19:36] damianobarbati commented on #47
@job13er just declare your class methods as class properties.

[2018-02-15 20:49] job13er commented on #47
@damianobarbati Thanks. That's always an option, but since I was looking at `autobind-decorator`, it seems obvious I already have reasons not to want to use class properties, or I would have had no need for `autobind-decorator` in the first place.

[2018-02-15 22:30] stevemao commented on #47
@job13er Maybe we should add this to the docs

[2018-02-27 16:55] mieszko4 opened #62 "Not working well with react-native 0.53.3"
I use `@autobind` for methods in `class`.

Autobind works well for the first time the component is mounted.
But the second time it is mounted it seems to be bound to the old instance of `this`.

When I remove `@autobind` and use usual `constructor` bind statements all is working as expected.

Has anyone experienced a similar issue? Any suggestions?

[2018-03-01 02:40] stevemao commented on #62
does https://github.com/andreypopp/autobind-decorator/pull/57 work for you?

[2018-03-01 03:26] mieszko4 commented on #62
Oh, sorry, I did not notice that pr before.
Yes, after applying the fix from this pr it works great for me!

[2018-03-14 15:57] mieszko4 commented on #62
@stevemao Do you think you can merge #57 ?

[2018-03-15 22:20] stevemao commented on #62
@mieszko4 could you create a unit test against it?

[2018-03-15 22:20] stevemao commented on #62
Let's move the convo there

[2018-03-15 22:20] #62 closed

[2018-03-21 10:12] tezqa commented on #62
Why is this issue closed? The PR is not merged.

[2018-03-22 04:47] stevemao commented on #62
@tezqa

[2018-03-23 06:27] tezqa commented on #62
@stevemao sorry I missed it!

[2018-05-17 15:28] rs7 opened #63 "DELETED"
DELETED

[2018-05-18 05:27] stevemao commented on #63
Did you try stackoverflow?

[2018-05-20 05:03] #63 closed

[2018-06-12 21:32] derkachdeveloper opened #64 "Property descriptor is undefined into boundMethod method(used inheritance)"
![image](https://user-images.githubusercontent.com/6834477/41318437-fb34b8aa-6ea0-11e8-8e81-3c3c40187dc5.png)
![image](https://user-images.githubusercontent.com/6834477/41318447-01c8071c-6ea1-11e8-9a71-3c2367626621.png)
![image](https://user-images.githubusercontent.com/6834477/41318456-08e22e10-6ea1-11e8-9ec1-05a5de6ebf48.png)

[2018-07-27 11:33] toolness commented on #59
I think this may have been fixed?  I just started using this decorator with TypeScript 2.9.2 and it seems to work fine... anyways, thanks for making this @andreypopp, it's very helpful!

[2018-08-01 01:25] stevemao commented on #59
@toolness did you see https://github.com/andreypopp/autobind-decorator/pull/57?

[2018-09-03 11:12] IIIristraM commented on #64
Is any progress in this issue ?

[2018-09-04 00:02] stevemao commented on #64
Can you provide the steps of how to replicate this? Actually, if you could submit a PR with failing unit test it would make me understand the problem a lot faster...

[2018-09-04 13:28] IIIristraM commented on #64
I use TypeScript v2.8.4

The problem appears in the following example

[code]

typescript has `__decorate` (tslib.es6.js) helper with the following code
[code]

when `__decorate` applied to `B.method` the result of `Object.getOwnPropertyDescriptor(target, key)` is `undefined` which leads to an error in

[code]

where `descriptor` is `undefined`

As far as I understand, it happens because of lazy i

[2018-11-02 00:54] stevemao opened #67 "export boundClass and boundMethod"
~~Maybe we should rename them to bindClass and bindMethod?~~ should be called `bound`

https://github.com/tc39/proposal-decorators

[2018-11-02 10:15] stevemao commented on #67
fixed by 9edeabf87c29d66e6d3d7ebffd715c05be119470

[2018-11-02 10:15] #67 closed

[2018-11-02 10:15] stevemao opened #68 "upgrade deps"

[2018-11-02 11:43] kristofferabell opened #69 "Can't minify version 2.2.0"
When I deploy my project I get:

   ./node_modules/autobind-decorator/src/index.js:7

New issue for version 2.2.0.

[2018-11-02 12:32] volodymyrkr opened #70 "TS declaration is missed"
It needs to update TS declaration. It has no boundMethod & boundClass

[2018-11-02 12:38] wangweida commented on #69
same question

[2018-11-02 12:42] welikoiwanenko commented on #69
Same behavior

[2018-11-02 12:58] stevemao commented on #70
I don’t use ts so PR welcome :)

Sent from my iPhone

[2018-11-02 13:05] stevemao commented on #69
Based on very little info I’m given, I guess that your minifier is reading the entry point from the “module” field. If your tool can’t understand ‘let’ it should still read the “dist“ entry, which is exactly the same file as v2.1

[2018-11-02 13:10] wangweida commented on #69
My solution: import HTML5Backend from 'react-dnd-html5-backend/dist/ReactDnDHTML5Backend'

[2018-11-02 16:45] #70 closed

[2018-11-03 01:30] stevemao commented on #69
Given this little information I don't see there's a problem with this module. What's new in 2.2.0 is we added a `module` entry for those who like to use the new standard javascript syntax (especially es modules for tree shaking). If your tool can't understand ES6+ just use the original `main` entry.

[2018-11-03 01:30] #69 closed

[2018-11-03 16:18] kristofferabell commented on #69
Hi @stevemao

I apologize but I don't understand your answer. I am using webpack@3.11 and I don't know how to configure it to use "the original main entry" for this sub-sub-dependency in my application.

Apologies if the question is dump and/ or outside this project.

[2018-11-03 22:40] stevemao commented on #69
see https://webpack.js.org/configuration/resolve/#resolve-mainfields
try this:

[code]

But I think your babel should transpile your node_modules. I always check create-react-app for my config file as a reference.

[2018-11-04 20:06] Kemsty2 commented on #68
Can't minify your code using react-scripts

[2018-11-05 21:07] nmitha opened #72 "v2.2 breaks create-react-app v1"
The changes made in v2.2 cause the following error running `npm run build` with a react-scripts 1.1 (aka "Create React App"):

[code]

The above issue went away after downgrading autobind-decorator to 2.1.0.

I'm mostly just posting this here as an FYI in case someone else runs into this...

[2018-11-05 22:05] vovchik33 commented on #72
Also we get a problem with code minimizing through UglifyJSPlugin in Webpack.

[2018-11-05 22:29] stevemao commented on #72
https://github.com/andreypopp/autobind-decorator/issues/69#issuecomment-435626439

[2018-11-05 22:29] #72 closed

[2018-11-06 19:07] harinair opened #73 "Uglify errors in react scripts"
I am running into an Uglify error that was traced to autobind-decorator@2.2.1

autobind-decorator@2.1.0 works fine. The following is the error:
[code]

This error is happening in a "let" statement. From what I read I feel Uglify cannot handle ES6 code and create react scripts does not convert all node modules to ES5 before feeding to Uglify. My assumption is some build option is changed from 2.1.0

[2018-11-06 19:48] jharris4 commented on #73
I just ran into the exact same issue.

It's definitely a bug related to the contents of the `package.json` now having `modules: src/index.js` as added in this commit:

https://github.com/andreypopp/autobind-decorator/commit/9edeabf87c29d66e6d3d7ebffd715c05be119470#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2018-11-06 20:05] jharris4 commented on #73
@stevemao could you please remove `modules` from `package.json`?

The code pointed to by `modules` needs to be ES5 code but with ES6 modules (import/export).

The problem here is that src had ES6 code (including `let` etc).

You can read more about it here: https://github.com/rollup/rollup/wiki/pkg.module#wait-it-just-means-import-and-export--not-other-future-javascript-features

[2018-11-06 20:49] stevemao commented on #73
How is adding modern JavaScript to “module” is a bug? We still have “main” entry which point to the same old JavaScript so its not a breaking change. On the other hand, you are using a deprecated minifier and wrong webpack config.

Who says that? Module entry is supposed to point to scripts with Es modules. Tools usually use this entry for tree shaking.

Sent from my iPhone

[2018-11-06 20:56] stevemao commented on #73
Let is not future JavaScript. It became standard 3 years ago. If I published typescript, stage 3 features/syntax or flow then its a bug and should be transpiled. If you need to support old environment, you can use Babel env to transpile modern JavaScript to old version.

Sent from my iPhone

[2018-11-06 21:29] jharris4 commented on #73
```Who says that? Module entry is supposed to point to scripts with Es modules. Tools usually use this entry for tree shaking.```

Did you read the link I posted? Basically the authors of webpack & rollup ALL say that `modules` should point to ES5 code with ONLY es6 modules. And since they are the ones who added it to package.json and implemented tree shaking they're probably the best authority on

[2018-11-06 21:58] stevemao commented on #73
I don’t necessarily agree. That article was published a long time ago when es6 was new (the future javascript). Some people only want to target modern browsers (with full support of modern JavaScript), are they forced to run es5 code only?

I’m using webpack and I even target ie11 because of the business requirements. I always use Babel to transpile node modules from modern to targeted javascript

[2018-11-06 22:46] stevemao commented on #73
I have seen many packages exporting modern javascript via the `main` field. This is also the reason why create-react-app compiles node_modules.

That is already mentioned in the README and I think it's a good alternative
https://github.com/andreypopp/autobind-decorator#alternative

[2018-11-06 23:06] harinair commented on #73
Related Bug:
https://github.com/react-dnd/react-dnd/issues/1152

[2018-11-06 23:16] jharris4 commented on #73
@stevemao interesting, can you share some examples of packages that are exporting es6 syntax (other than es6 modules) via the `main` or `modules` field? I’m curious if any of them are intended for use in the browser vs node.

[2018-11-06 23:19] stevemao commented on #73
In any case, we only added a `module` entry to the package.json for modern browsers and tree shaking. So it's a new feature. The old `main` entry is still there any the files are not changed. If you want the old behaviour you can still use the `main` entry so this is not a breaking change.

[2018-11-06 23:32] jharris4 commented on #73
lol, except you can't use minification anymore with webpack without transpiling node modules first.

The right way to fix it is to use separate lib/es outputs like most other libraries do.

Happy to offer pointers if you're open to it. It's just a matter of forking your babel config to change the modules parameter to either preset-es2015 or preset-env...

A good example is here: https://github.com

[2018-11-06 23:49] stevemao commented on #73
@jharris4 They use jsx in the src so they have to compile it. For those who want to use modern javascript and only target modern browsers/env what's your recommendation?

[2018-11-07 00:36] stevemao commented on #73
It does. I'm using create-react-app too.

I think we can add a note on README.

[2018-11-07 00:45] stevemao commented on #73
I have added a note just now on readme. let me know if it makes sense

[2018-11-07 00:46] jharris4 commented on #73
ya, I wasted a couple of hours tracking this down myself.

Definitely should have been a version bump as this is definitely a breaking change.

As a workaround, I've just switched to class properties like I posted earlier. so I'm not using this package anymore...

@stevemao I don't have a good answer for how to allow npm packages to be consumed in es6+ only mode. As far as I know nobody has really

[2018-11-07 01:20] stevemao commented on #73
If we pointed `main` to a ES6 script then it would have been a breaking change.

Thanks @jharris4 . I personally periodically improve my build script and look up create-react-app as a good reference. They have removed deprecated uglify-js and they also compile node_modules (but only from standard javascript).

[2018-11-09 20:09] andreymal commented on #69
@stevemao can you mention this Webpack configuration in README? As you can see, this is a common issue (I also ran into this just now)

I think not :)

[2018-11-09 22:49] stevemao commented on #69
@andreymal For those who want to use modern javascript and only target modern browsers/env what's your recommendation?

[2018-11-09 22:53] stevemao commented on #69
The thing is, different users have their different target environment. With a transpiler, you can just compile the code to whatever target you want.

[2018-11-09 23:10] andreymal commented on #69
@stevemao I don't want to make any recommendations (actually I'm not a professional js developer), but I don't want to use a transpiler for `node_modules`, because it's too slow for me

But thanks for README 👍

[2018-11-10 00:18] stevemao commented on #69
You don’t have to transpile it if your target environment understands it (chrome supports ‘let’ a few years ago). You don’t have to use webpack, Babel or uglify if you don’t need them :) they slow you down heaps more. It’s probably a good idea to understand how they work and why before using a tool IMO :p

Sent from my iPhone

[2018-11-10 02:17] #73 closed

[2018-11-10 02:19] stevemao commented on #64
Any updates on this? Please send a failing unit test to illustrate the problem.

[2018-11-10 02:19] #64 closed

[2018-11-10 02:20] stevemao commented on #59
Any updates on this?

[2018-11-10 02:30] andreymal commented on #69
My target is IE11 :) Autobind can't work in IE without a transpiler.

Anyway, a transpiler is needed for JSX, core-js, stage-0 features and other good (but slow) things. I'm trying to balance between speed and convenience

[2018-11-10 02:58] stevemao commented on #69
The files we published are just standard javascript, not JSX, typescript, and stage-0 :)

[2018-11-12 01:48] pmq20 opened #74 "v2.2.1 contains es code in npm package (did not compile?)"
This makes webpack panic because it saw ES in the source code of autobind-decorator v2.2.1.

![image](https://user-images.githubusercontent.com/13315/48321947-07635780-e660-11e8-8c2a-2135cfb4ded6.png)

![image](https://user-images.githubusercontent.com/13315/48321967-1e09ae80-e660-11e8-88f4-9e733d203c91.png)

[2018-11-12 02:14] pmq20 commented on #74
autobind-decorator <= 2.1.0 doesn't have this problem because the `let` was `var`

[2018-11-12 02:16] stevemao commented on #74
#69 #73

[2018-11-12 02:16] #74 closed

[2018-11-14 20:17] felipenvaz opened #75 "module tag in package.json is pointing to src not lib"
On this commit: `https://github.com/andreypopp/autobind-decorator/commit/9edeabf87c29d66e6d3d7ebffd715c05be119470#diff-b9cfc7f2cdf78a7f4b91a753d10865a2` the module tag was added pointing to src/index.js.

Usually, people assume the code in modules is already transpiled to be at least IE11 compliant, but src/index isn't. Only lib/index.js is.

Also, that tag was added without any change in the modu

[2018-11-14 20:46] stevemao commented on #75
see `Note uglify users:` in readme

[2018-11-14 20:46] #75 closed

[2018-11-15 09:16] TotooriaHyperion commented on #69
actually few library needs babel/typescript transpile:
![image](https://user-images.githubusercontent.com/16434801/48542288-bcfd0780-e8f9-11e8-8596-6b540ca4dc6f.png)

I want to use es6 module without transpile all js in node_modules to speed up webpack.
All other library works well only this act differently.
Can we just transpile the syntax to es5 but preserve the module for es6 module entry?

[2018-11-15 10:42] stevemao commented on #69
Transpiling `node_modules` should only be minimal as they should all be standard javascript. You could look it up at create-react-app. I use https://github.com/sindresorhus/ky, this package is not for node at all but only for the browsers. Please read https://github.com/sindresorhus/ky/issues/44 and https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

funny thing is es6

[2018-11-15 10:46] stevemao commented on #75
Please read https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

[2018-11-15 10:46] stevemao commented on #74
Please read https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

[2018-11-15 10:46] stevemao commented on #73
Please read https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

[2018-11-15 10:46] stevemao commented on #72
Please read https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages

[2018-11-15 22:44] shouvik44 commented on #73
I couldn't build my app built on Create-React-App using React DnD. Thanks @harinair for pointing to the related thread. If others are experiencing this, the workaround with react dnd is to pin autobind-decorator to version 2.1.0. Since then, I'm able to build just fine.

[2018-11-15 22:47] stevemao commented on #73
@shouvik44 did you read the blog I linked?

[2018-11-15 23:11] shouvik44 commented on #73
@stevemao I read through it, but I didn't understand how to take action. I can't stop using react-DnD, and the older version of autobind-decorator works well for my current needs.

[2018-11-16 13:23] betalb opened #76 "If bound methods or fields are re-assigned, they become shared between instances"
If bound methods or fields are re-assigned, they become shared between instances

Found this issue while trying to debounce bound method

Below test will fail

[code]

[2018-11-16 14:19] nguyendviet opened #77 "Failed to minify the code from /autobind-decorator/src/index.js:7"
I have an error when run`yarn build`. I've tried what @khelkun suggested [here](https://github.com/facebook/create-react-app/issues/5726) but it doesn't work for me. I've also tried to edit `autobind-decorator` to `2.1.1` but it also doesn't work.

This issue was described [here](https://github.com/andreypopp/autobind-decorator/issues/69) but the ticket is closed without a solution so I create thi

[2018-11-17 03:13] stevemao commented on #77
https://github.com/andreypopp/autobind-decorator#note-uglify-users

[2018-11-17 03:13] #77 closed

[2018-11-17 03:15] stevemao commented on #76
Does it happen if you use `@autobind` (the old default exported module)?

[2018-11-18 23:09] stevemao commented on #76
@betalb Thanks for reporting this. PR welcome :)

[2018-11-19 16:11] lroling8350 opened #78 "package.json module field points to uncompiled source"
v2.3.1 introduced the env-preset for babel breaking our builds because we do not include it. I found the issue https://github.com/andreypopp/autobind-decorator/issues/75 but was unable to comment so I'm creating a new one. I have read over https://babeljs.io/blog/2018/06/26/on-consuming-and-publishing-es2015+-packages which you are giving as the reason for why it points to uncompiled source. Howev

[2018-11-19 20:42] stevemao commented on #78
We kept main in package.json. The main entry still points to the original build.

Sent from my iPhone

[2018-11-19 20:49] stevemao commented on #78
Which field should be used for standard modern JavaScript?

Sent from my iPhone

[2018-11-20 12:13] betalb commented on #76
Created PR, but would like to revise it further, don't like appoach for `super.method` handling

[2018-11-22 18:17] Mehdi40 commented on #78
Hey,

I'm +1ing this issue.
We encountered almost the same problem. The solution of using "main" is working, but it creates others issues with others dependencies.
So, I don't really know if this is possible, but I'm asking the same question as the author of this issue : "module" pointing to the actual "main" would solve my problem.

[2018-11-23 05:10] lroling8350 commented on #78
I'm unsure what should be used for modern java script as i don't think there has been a convention created yet. The article provided by babel alludes to this. It does state that module was chosen by both webpack and rollup as a convention to provide javascript with es6 imports but still compiled to es5 syntax and to maintain backwards compatibility should likely not be used. We got this dependency

[2018-11-27 23:15] catamphetamine commented on #73
LOL.
Most of the people only want their apps to just work and not break suddenly.
Are you forcing those people to hack around your preference of putting incompatible js syntax in the release just because you like it more?
The `module` entry is clearly for ES5 syntax with only ES6 modules, as @jharris4 already said.

[2018-11-27 23:18] catamphetamine commented on #73
@stevemao

And that means that they do it wrong.
If someone jumps from a bridge will you jump too?
I guess you do...

[2018-11-27 23:21] catamphetamine commented on #73
@stevemao

Man, you don't get it: bundlers do always prefer the `module` entry ignoring `main`.
So you're consciously and willingly breaking everyone's projects because you know Webpack won't compile them and you're fine with that.
Well, no wonder `react-dnd` moved away from this package.

[2018-11-27 23:50] stevemao commented on #73
@catamphetamine If I have to argue with you I'll repeat what I have said. Your arguments haven't been constructive and convincing but rather mocking and attempting to taunt me. I suggest be patient and read the babel blog again rather than believing in what you think is right. Coz it's not.

[2018-11-28 05:31] stevemao commented on #73
@catamphetamine If you want to learn how to discuss with people properly in a constructive way, have a look at https://github.com/andreypopp/autobind-decorator/issues/78 by @lroling8350. That issue so far has provided really good value. And I really appreciate everyone's inputs. Peace.

[2018-11-30 08:35] vladivanovrf commented on #78
Faced with the same problem, because one of my solution's dependency use this package.

Possible solution: such significant changes (as broken es5 support) should be done under major version of package. This prevents issues after running "npm install" without package-lock.json file.

[2018-11-30 12:48] stevemao commented on #78
@vladivanovrf https://github.com/andreypopp/autobind-decorator#es5-and-uglify-users

[2018-11-30 20:50] lroling8350 commented on #78
I don't think anyone is arguing with you about compiling node_modules. I just don't think the module field was the right field to do it. The babel post you refer to suggests NOT using the module field so it doesn't break people.

[2018-11-30 23:44] stevemao commented on #78
I have changed the `module` field to ES5 + es modules and added `es` field for modern JS. We really need some convention for modern JS 😞

[2018-12-04 11:44] quarryman commented on #77
This link doesnt exist anymore.

[2018-12-04 23:04] stevemao commented on #77
@quarryman https://github.com/andreypopp/autobind-decorator#supported-platforms

[2018-12-05 10:04] quarryman commented on #77
@khelkun Tnx for your reply.
2.4.0 fixes the issue as it doesnt export es6 in 'module' anymore.
Just to admin, for people using react-create-app it might be not easy to get additional transpiling just to fix this issue as author suggests.

[2018-12-10 10:36] kimchanjung opened #80 "Rendering does not work when using mobx together"
If you are using mobx together, if you use @boundClass on the react component, if you move to another page after the page call and go back to that page, you will not render it, even though you change the value of @observable in mobx

[2018-12-10 22:39] stevemao commented on #80
Can you try https://github.com/andreypopp/autobind-decorator/pull/79 and see if it fixes your problem?

[2018-12-12 21:35] newduke opened #81 "Autobind not working with inheritance"
In the following example, executing the autobound function removes the overridden method.  Executing it again will no longer call the overridden function, and only call the base class.
[code]

This is using version 2.4.0

[2018-12-12 23:17] stevemao commented on #81
Can you try https://github.com/andreypopp/autobind-decorator/pull/79 and see if it fixes your issue?

[2018-12-13 04:41] jeffmath opened #82 "boundMethod decorator might not be usable in Angular production builds"
I get this error when running production builds of my Angular app, which contains usages of the boundMethod decorator:

[code]

I believe it is the Angular AoT compiler which is throwing this error.  Devleopment builds, which don't use AoT, don't produce these errors.

I import the decorator using `import { boundMethod } from "autobind-decorator";`

A workaround is to use the autobind decorator in

[2018-12-13 04:56] jeffmath commented on #82
Another workaround is to change index.d.ts to make boundMethod the default export, as in:
[code]
With this, of course, using the autobind decorator would result in a production build compile error similar to the one described above.

[2018-12-13 06:00] stevemao commented on #82
Is it a typescript issue? If so I don't use it so help is needed.

I essence, we should always do `import { boundMethod } from "autobind-decorator";`, keeping the other two exports are mainly for backwards compatibility.

[2018-12-15 00:00] newduke commented on #81
@stevemao #79 fixes this issue.

[2018-12-15 00:17] stevemao commented on #81
continue the discussion there

[2018-12-15 00:17] #81 closed

[2018-12-20 12:04] stevemao commented on #82
I think (I might not be correct since I don't use typescript) the problem is since `boundMethod` is the recommended way, it should be the default export. Well it's just one of the three exports we have here and default export doesn't imply the importance. We do it this way purely for backwards compatibility. I doubt it's worth the effort to make a breaking change just for typing...

[2018-12-21 19:05] jeffmath commented on #82
@stevemao That is understandable.  I guess I will have to continue using my fork with the workaround in it.

[2018-12-23 07:44] stevemao commented on #80
@realfresh can you try #79?

[2019-01-23 22:36] L-Yeiser commented on #76
Any movement on this?

[2019-01-23 22:40] stevemao commented on #76
@L-Yeiser see discussions in the PR

[2019-01-24 02:23] JackieLs opened #83 "Not Compatible Under IE 11"
Because of the Template Spring \`@boundMethod decorator can only be applied to methods not: ${typeof r}\`
Hope for update.

[2019-01-24 03:05] stevemao commented on #83
[We don't support IE10-](https://github.com/andreypopp/autobind-decorator#output)

[2019-01-25 07:38] JackieLs commented on #83
Sorry, I mean IE 11. The Template Strings feature is not compatible under IE 11. [Template strings Browser compatibility](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#Browser_compatibility)

So if you don't support IE 11, please tell the users, thank you.

[2019-01-25 11:17] stevemao commented on #83
Both esm and cjs builds target IE11, so template strings are compiled. I have just installed from npm and don't see any problem with that. Please read https://github.com/andreypopp/autobind-decorator#output

[2019-01-25 11:18] stevemao commented on #83
It is compiled to `throw new TypeError("@boundMethod decorator can only be applied to methods not: ".concat(_typeof(fn)));`

[2019-01-25 11:21] #83 closed

[2019-02-12 15:14] flexy1994 opened #84 "this.props is undefined on autobind decorator"
I've got some problems while using the autobind decorator on React Native.

I use the newest release v2.4.
react-native: 0.54.0

Example:

I've implemented two Screens:

First with button to Navigate to the second screen.

Second screen is rendering a component e.g. a customized TouchableOpacity (CustomTouchableOpacity).

The CustomTouchableOpacity got an onPress prop and implements a function tha

[2019-02-12 22:43] stevemao commented on #84
Can you try https://github.com/andreypopp/autobind-decorator/pull/79?

[2019-02-13 03:27] stevemao commented on #84
Please try https://github.com/andreypopp/autobind-decorator/pull/57 also

[2019-02-25 14:15] bennypowers commented on #64
I have this with

.babelrc
[code]

app.js
[code]

[2019-02-26 05:57] stevemao commented on #64
@bennypowers did you follow https://github.com/andreypopp/autobind-decorator#modern?

[2019-04-09 08:45] drdevelop opened #85 "can't auto bind this in class"
I'm use Decorator autobind in front of class, but it displays undefined when the method of the class is fired.

[2019-04-10 02:17] stevemao commented on #85
@drdevelop please create a failure unit test

[2019-07-24 04:21] stoically commented on #47
Was running into sinon stubs clashing with autobind as well - is there a chance to reopen this issue or is it considered WONTFIX?

[2019-10-18 06:54] budziam opened #86 "Using along with Jest"
Decorating the method with `@boundMethod` decorator causes that Jest creates incorrect mocked object based on class definition.

Example code
[code]

The problem is that the object `obj` doesn't have the `foo` method.

----
The way how to create mocked object instance is taken from this library: https://www.npmjs.com/package/jest-create-mock-instance

[2019-10-18 07:07] stevemao commented on #86
Does #79 or #57 work for you?

[2019-10-18 08:47] budziam commented on #86
None of them solve my problem

[2020-10-30 13:49] victor-homyakov commented on #76
I'd like to add, that there is also a possibility of memory leak.

Minimal code to illustrate:

[code]

1. When constructing `new Child()`, the assignment `method = debounce(super.method, 100)` is executed
2. The assignment `method = debounce(super.method, 100)` will get bound `method`, then debounce it, and finally will call [setter](https://github.com/andreypopp/autobind-decorator/blob/master/sr

[2021-07-09 11:16] cfecherolle commented on #86
Still an issue as of today: when using something like
[code]

Where myHandler is a boundMethod in my class component that I'm trying to test, test gives the following error:
[code]

[2022-10-06 12:57] tibabit commented on #86
Any updates on this? Has anyone solved this?